{% load static %}
<section class="about-section section-padding">
    <div class="container">
        <div class="row">

            <div class="col-lg-6 col-md-5 col-12">
                <img src="{% static 'images/major.jpg' %}"
                    class="about-image ms-lg-auto bg-light shadow-lg img-fluid" alt="">
            </div>

            <div class="col-lg-6 col-md-5 col-12">
                <div class="custom-text-block">
                    <h5 class="mb-0">Col. Major d'Aumonerie Dr. Pierre Felix N. GOMAT</h5>

                    <p class="text-muted mb-lg-4 mb-md-4">Coordonnateur Executif National</p>

                    <p style="text-align: justify;"><em>La CONACCE Chaplains est née d’une vision : allier discipline et humanité pour servir les plus vulnérables. Dans un monde marqué par l’incertitude, nous apportons protection, secours et assistance aux populations en détresse.</em></p>

                    <p style="text-align: justify;"><em>Notre engagement est clair : être là où le besoin se fait sentir, assurer la sécurité des missions humanitaires et défendre la dignité humaine. Plus qu’une agence, nous sommes une force au service du bien.</em></p>

                    <ul class="social-icon mt-4">
                        
                        <li class="social-icon-item">
                            <a href="https://www.facebook.com/DrPierrotGomat" class="social-icon-link bi-facebook"></a>
                        </li>
                    </ul>
                </div>
            </div>

        </div>
    </div>
</section>
