{% load static %}

        <section class="cta-section section-padding section-bg">
            <div class="container">
                <div class="row justify-content-center align-items-center">

                    <div class="col-lg-5 col-12 ms-auto">
                        <h2 class="mb-0">Posez une action. <br> Sauvez des vies.</h2>
                    </div>

                    <div class="col-lg-5 col-12">
                        <a href="{% url 'donate' %}" class="me-4 custom-btn btn smoothscroll">Faire un don</a>

                        <a href="{% url 'be_volunteer' %}" class="custom-btn btn smoothscroll">Devenir volontaire</a>
                    </div>

                </div>
            </div>
        </section>
