{% load static %}

<section class="section-padding section-bg" id="section_2">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-12 mb-5 mb-lg-0">
                <img src="{% static 'images/photo1.jpg' %}"
                    class="custom-text-box-image img-fluid" alt="">
            </div>

            <div class="col-lg-6 col-12">
                <div class="custom-text-box">
                    <h2 class="mb-2">Agence humanitaire et chrétienne</h2>

                    <h5 class="mb-3" style="text-align: justify;">C’est la Corporation nationale des aumôniers chrétiens évangéliques du
                        Gabon en abrégé CONACCE CHAPLAINS</h5>

                    <p class="mb-0" style="text-align: justify;"> CHAPLAINS GLOBAL qui a été créé il y a 20 ans en Equateur avec son
                        expansion progressive vers les Etats Unis et dans plus de 50 autres
                        pays y compris le Gabon où l’organisation existe depuis 5 ans
                        maintenant dans les provinces de l’Ogooué Maritime, la Nyanga, la
                        Ngounié, le Haut Ogooué et le Woleu Ntem. le
                        Coordonnateur National Accrédité <strong>Colonel Major d'aumonerie Dr. Pierre Felix N. GOMAT</strong>.
                        Au départ, elle était une organisation paramilitaire de chrétiens
                        évangéliques, mais elle s’est ouverte à la dimension humanitaire en
                        acceptant les autres branches chrétiennes.</p>
                </div>

                <div class="row">
                    <div class="col-lg-6 col-md-6 col-12">
                        <div class="custom-text-box mb-lg-0">
                            <h5 class="mb-3">Notre Mission</h5>

                            <p style="text-align: justify;">Promouvoir l’assistance humanitaire aux
                                personnes vulnérables, le volontariat et l’engagement citoyen au Gabon.
                               </p>

                            <ul class="custom-list mt-2">
                                <li class="custom-list-item d-flex">
                                    <i class="bi-check custom-text-box-icon me-2"></i>
                                    Soutenir
                                </li>

                                <li class="custom-list-item d-flex">
                                    <i class="bi-check custom-text-box-icon me-2"></i>
                                    Aider
                                </li>
                            </ul>
                        </div>
                    </div>

                    <div class="col-lg-6 col-md-6 col-12">
                        <div class="custom-text-box d-flex flex-wrap d-lg-block mb-lg-0">
                            <div class="counter-thumb">
                                <div class="d-flex">
                                    <span class="counter-number" data-from="1" data-to=" 2023"
                                        data-speed="1000"></span>
                                    <span class="counter-number-text"></span>
                                </div>

                                <span class="counter-text">Founded</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
