{% load static %}
<section class="leader-message-section section-padding bg-dark text-white text-center">
    <div class="container">
        <div class="row justify-content-center">

            <!-- Image du Responsable -->
            <div class="col-lg-4 col-12 mb-4">
                <img src="{% static 'images/ConaccePhotos/DISC.1.jpg' %}" alt="Responsable" class="img-fluid rounded-circle" style="max-width: 300px;">
            </div>

            <!-- Message du Responsable -->
            <div class="col-lg-6 col-12">
                <h2 class="mb-4">Mot du Coordonateur Exécutif</h2>
                <p class="mb-4" style="text-align: justify;">
                    "À la CONACCE CHAPLAINS GABON, nous prônons un monde de paix où les volontaires et les nations unissent leurs efforts pour construire un progrès socioéconomique, culturel et politique, en visant l'atteinte des Objectifs du Développement Durable.

                    Notre mission en tant qu'aumôniers est de créer un monde où chaque individu, indépendamment de sa situation, peut expérimenter une restauration holistique et trouver l'espoir, la guérison, ainsi qu'un but dans sa vie.
                    
                    Nous imaginons une société où la compassion, l'empathie et les valeurs chrétiennes s'entrelacent pour encourager un sentiment d'unité, d'égalité et de dignité pour tous. Par notre engagement constant et nos actions transformatrices, nous aspirons à devenir un catalyseur de changement positif, en favorisant la justice sociale, le bien-être et la croissance spirituelle à travers le monde.
                    
                    La CONACCE repose sur les principes fondamentaux suivants :
                    <ul class="custom-list mt-2">
                        <li class="custom-list-item d-flex">
                            <i class="bi-check custom-text-box-icon me-2"></i>
                            L'intégrité et l'éthique morale
                        </li>

                        <li class="custom-list-item d-flex">
                            <i class="bi-check custom-text-box-icon me-2"></i>
                            La solidarité
                        </li>
                        <li class="custom-list-item d-flex">
                            <i class="bi-check custom-text-box-icon me-2"></i>
                            L'exemplarité dans le service
                        </li>
                    </ul>

                    <strong>Notre devise est : Dieu-Patrie-Discipline, Servir-Servir-Servir.</strong>
                    Ensemble, à travers ces valeurs, nous œuvrons pour bâtir un avenir meilleur, fondé sur l'amour, la justice et l'engagement."
                </p>
                <p>
                    <strong>Col. Major D'aumônerie Dr. Pierre Felix N. GOMAT </strong><br>
                    Coordonateur executif National de la CONACCE Chaplains Gabon
                </p>
                <li class="social-icon-item">
                    <a href="https://www.facebook.com/DrPierrotGomat" class="social-icon-link bi-facebook"></a>
                </li>
            </div>

        </div>
    </div>
</section>

<section class="testimonial-section py-5 bg-light">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-12 mx-auto">
                <h2 class="mb-4 text-center">Ils nous ont fait confiance</h2>

                <div id="testimonial-carousel" class="carousel carousel-fade slide" data-bs-ride="carousel">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <div class="carousel-caption px-4 pt-2 pb-2">
                                <h5 class="carousel-title">
                                    Grâce à cette association, j’ai pu redonner du sens à mon engagement.
                                </h5>
                                <small class="carousel-name"><strong>Maria Lopez</strong>, Bénévole depuis 2 ans</small>
                            </div>
                        </div>

                        <div class="carousel-item">
                            <div class="carousel-caption px-4 pt-2 pb-2">
                                <h5 class="carousel-title">
                                    Une équipe à l’écoute, des projets concrets, et un réel impact sur le terrain.
                                </h5>
                                <small class="carousel-name"><strong>Thomas N’diaye</strong>, Donateur régulier</small>
                            </div>
                        </div>

                        <div class="carousel-item">
                            <div class="carousel-caption px-4 pt-2 pb-2">
                                <h5 class="carousel-title">
                                    J’ai participé à une mission humanitaire, c’était incroyable.
                                </h5>
                                <small class="carousel-name"><strong>Jane Dufour</strong>, Volontaire international</small>
                            </div>
                        </div>

                        <div class="carousel-item">
                            <div class="carousel-caption px-4 pt-2 pb-2">
                                <h5 class="carousel-title">
                                    Leur accompagnement m’a permis de lancer mon projet social.
                                </h5>
                                <small class="carousel-name"><strong>Bob Kamanzi</strong>, Entrepreneur solidaire</small>
                            </div>
                        </div>
                    </div>

                    <!-- Avatar indicators avec moins d'espace -->
                    <ol class="carousel-indicators mt-2">
                        <li data-bs-target="#testimonial-carousel" data-bs-slide-to="0" class="active">
                            <img src="{% static 'images/avatar/portrait-beautiful-young-woman-standing-grey-wall.jpg' %}"
                                class="img-fluid rounded-circle avatar-image" style="width: 50px; height: 50px;" alt="avatar">
                        </li>
                        <li data-bs-target="#testimonial-carousel" data-bs-slide-to="1">
                            <img src="{% static 'images/avatar/portrait-young-redhead-bearded-male.jpg' %}"
                                class="img-fluid rounded-circle avatar-image" style="width: 50px; height: 50px;" alt="avatar">
                        </li>
                        <li data-bs-target="#testimonial-carousel" data-bs-slide-to="2">
                            <img src="{% static 'images/avatar/pretty-blonde-woman-wearing-white-t-shirt.jpg' %}"
                                class="img-fluid rounded-circle avatar-image" style="width: 50px; height: 50px;" alt="avatar">
                        </li>
                        <li data-bs-target="#testimonial-carousel" data-bs-slide-to="3">
                            <img src="{% static 'images/avatar/studio-portrait-emotional-happy-funny.jpg' %}"
                                class="img-fluid rounded-circle avatar-image" style="width: 50px; height: 50px;" alt="avatar">
                        </li>
                    </ol>

                </div>
            </div>

        </div>
    </div>
</section>
